# Dependencies
/node_modules
/dist

# Environment
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
/.vscode
/.awcache
/.history
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db 